page-home {
    .title {
        background-color: #0097A7;
        font-weight: bold;
    }

    .container {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;

        p {
            margin: 0;
        }

        .sectionTitle {
            color: white;
            font-weight: bold;
            font-size: xx-large;

            .from {
                background-color: #00BCD4;
            }

            .to {
                background-color: #00BCD4;
            }

            .go {
                background-color: #FF4081;
                text-align: center;
            }
        }

        .sectionContent {
            font-size: xx-large;
            flex: 1;
            align-items: stretch;
            align-self: stretch;

            .line {
                flex: 1;
                background-color: #fbfbfb;
                overflow: auto;
            }

            .stopPoint {
                flex: 4;
                overflow: auto;
            }
        }
    }
}
