page-home {
  .container {
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .sectionTitle {
      flex: 1;
      color: white;
      font-weight: bold;
      font-size: xx-large;

      .from {
        background-color: #2ec95c;
      }

      .to {
        background-color: #ff6666;
      }

      .go {
        background-color: #488aff;
        text-align: center;
      }
    }

    .sectionContent {
      flex: 12;
    }
  }
}
