home-stop-point-item {
    .item {
        padding: 0;

        .item-inner {
            padding: 0;

            .label {
                margin: 0;
                padding-left: 15px;
            }
        }
    }

    .item-md.item-block .item-inner {
        padding: 0;
        border-bottom: 0;
    }
}
