home-line-item {
    .item {
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
        padding: 0;
    }

    .item-inner {
        .label {
            margin: 0;
        }
    }

    .item-md.item-block .item-inner {
        padding: 0;
        border-bottom: 0;
    }
}
